*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
h2{
	text-align: center;
	margin: 10px 0px 20px 0px;
}
.container{
	width: 500px;
	height: 650px;
	margin: 0 auto;
	background-color: #ccc;
	text-align: center;
	line-height: 30px;
}